@import ../abstract/_fonts.sass

.about-me
    margin: 16px
    display: grid
    grid-template-areas: 'picture text'
    grid-column-gap: 16px
    justify-content: space-evenly

    @media screen
        @media (min-width: 600px)
            margin: 16px 64px
        
        @media (min-width: 800px)
            margin: 32px 128px

    &__picture
        grid-area: picture
        height: 128px
        border-radius: 10px

    &__text
        grid-area: text
        margin-top: 1%
        letter-spacing: 1px
        display: grid
        grid-template-rows: 25% 60% 15%

        &__heading
            font-size: 30px
            font-family: 'Hind'
            color: $compliment
            text-align: center
        
        &__summary
            font-size: 14px
            font-weight: 500
            font-family: 'Hind'
            color: $compliment
        
        &__click
            text-decoration: none

            &__more
                font-size: 12px
                font-family: 'Hind'
                color: $accent
                text-align: end

@media screen
    @media (min-width: $small-break)
        .about-me__picture
            height: 226px

        .about-me__text
            grid-template-rows: 30% 60% 10%
    
            &__heading
                font-size: 50px

            &__summary
                font-size: 22px

            &__click__more
                font-size: 14px
    
    @media (min-width: $large-break)
        .about-me__picture
            height: 388px

        .about-me__text
            grid-template-rows: 30% 65% 5%
    
            &__heading
                font-size: 70px

            &__summary
                font-size: 40px

            &__click__more
                font-size: 20px
