.my-history
    font-family: 'Hind'
    color: $compliment
    letter-spacing: 1px
    
    &__heading
        text-align: center
        font-size: 2em
        margin: 16px
    
    &__paragraph
        font-size: 1em
        margin: 16px
    
    @media screen and (min-width: $small-break)
        
        &__heading
            font-size: 3em
            margin: 32px
        
        &__paragraph
            font-size: 2em
            margin: 32px